<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Html Practice</title>
    </head>

    <h1>HTML-practise Thymeleaf</h1>
    <p>Hello World!</p>
    <ul>
    	<li>Listoja voi tehdä jne</li>
    	<li>Such list! WOW!</li>
    </ul>
    <h2>Niin hienoja HTML-elementtejä!</h2>
    <p>Element purpose</p>
    <table>
    	<tr> <td>table</td> <td>creates table</td></tr>
    	<tr> <td>tr</td> <td>creates row</td></tr>
    	<tr> <td>td</td> <td>creates cell</td></tr>
    </table>
    <body>
    </body>
</html>
